<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net35-Client" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="net40-Client" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40-Client" />
  <package id="sharpcompress" version="0.11.1" targetFramework="net40-Client" />
  <package id="VDS.Common" version="1.6.0" targetFramework="net40-Client" />
</packages>